<a href="https://colab.research.google.com/github/GitShamil/ML_homeworks/blob/main/_hw02_pandas_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [ ]:
import pandas as pd
import numpy as np

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [ ]:
!wget "https://github.com/shmihmih/iad-intro-ds/raw/master/2023/homeworks/Data.zip" 
!unzip "Data.zip"

--2023-02-18 20:22:29--  https://github.com/shmihmih/iad-intro-ds/raw/master/2023/homeworks/Data.zip
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/shmihmih/iad-intro-ds/master/2023/homeworks/Data.zip [following]
--2023-02-18 20:22:30--  https://raw.githubusercontent.com/shmihmih/iad-intro-ds/master/2023/homeworks/Data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16727 (16K) [application/zip]
Saving to: ‘Data.zip.2’

Data.zip.2          100%[===================>]  16.33K  --.-KB/s    in 0s

2023-02-18 20:22:30 (61.3 MB/s) - ‘Data.zip.2’ saved [16727/16727]

Archive:  Data.zip
replace Data/Students_info_0.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
df = pd.DataFrame()

for i in range(10):
  x = pd.read_csv(f"Data/Students_info_{i}.csv")
  y = pd.read_csv(f"Data/Students_marks_{i}.csv")
  data = x.set_index("index").join(y.set_index("index"))
  df = pd.concat([df, data],axis = 0)

df.sample(5)

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [ ]:
df.head(10)

#### Задание 3. Выведите на экран размеры полученной таблицы

In [ ]:
df.shape

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [ ]:
df.describe()

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [ ]:
df.isna().any(axis = 0)

gender                         False
race/ethnicity                 False
parental level of education    False
lunch                          False
test preparation course        False
group                          False
math score                     False
reading score                  False
writing score                  False
dtype: bool

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [ ]:
subjects = ['math score', 'reading score', 'writing score']

for subject in subjects:
  print(f"{subject} mean: {df[subject].mean()}")

math score mean: 66.089
reading score mean: 69.169
writing score mean: 68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [ ]:
subjects = ['math score', 'reading score', 'writing score']

for subject in subjects:
  score = df[df["test preparation course"] == 'completed'][subject].mean()
  print(f"{subject} mean: {score}")

math score mean: 69.69553072625699
reading score mean: 73.89385474860335
writing score mean: 74.41899441340782

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [ ]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [ ]:
change_name_dict = {"parental level of education" : "education", "test preparation course" : "test preparation"}
df = df.rename(columns = change_name_dict)

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
print("Какая доля студентов сдала экзамен по математике (passmark >= 50)?")
print(f"доля: {len(df[df['math score'] >= passmark])/ len(df)}")
print("Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?")
print(f"доля: {len(df[(df['math score'] >= passmark) &(df['test preparation'] == 'completed')] )/ len(df[df['test preparation'] == 'completed'] )}")
print("Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?")
females = df[df['gender'] == 'female']
females_without_prep = females[females['test preparation'] == 'none']
print(f"доля: {len(females_without_prep[females_without_prep['math score'] < passmark])/ len(females_without_prep)}")

Какая доля студентов сдала экзамен по математике (passmark >= 50)?
доля: 0.865
Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
доля: 0.9217877094972067
Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?
доля: 0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
%%time
df.groupby('race/ethnicity')['reading score'].mean()

CPU times: user 1.81 ms, sys: 0 ns, total: 1.81 ms
Wall time: 1.82 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [ ]:
%%time
df.groupby('education')['writing score'].min()

CPU times: user 2.89 ms, sys: 0 ns, total: 2.89 ms
Wall time: 2.93 ms

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
%%time
groups_dict = {}
for group in df['race/ethnicity'].unique():
  groups_dict[group] = [0,0]
for i in range(len(df)):
  group = df.loc[i,'race/ethnicity']
  score = df.loc[i,'reading score']
  groups_dict[group][0] += score
  groups_dict[group][1] += 1
for group, item in groups_dict.items():
  print(f"{group} mean: {item[0]/item[1]}")

group B mean: 67.35263157894737
group C mean: 69.10344827586206
group A mean: 64.67415730337079
group D mean: 70.03053435114504
group E mean: 73.02857142857142
CPU times: user 31.9 ms, sys: 0 ns, total: 31.9 ms
Wall time: 35.5 ms

In [ ]:
%%time
groups_dict = {}
for group in df['education'].unique():
  groups_dict[group] = 100
for i in range(len(df)):
  group = df.loc[i,'education']
  score = df.loc[i,'writing score']
  groups_dict[group] = min(score,groups_dict[group])
for group, item in groups_dict.items():
  print(f"{group} min: {item}")

bachelor's degree min: 38
some college min: 19
master's degree min: 46
associate's degree min: 35
high school min: 15
some high school min: 10
CPU times: user 33.1 ms, sys: 0 ns, total: 33.1 ms
Wall time: 35.3 ms

Видно что встроенные функции быстрее

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
for subject in subjects:
  print(df.groupby(['gender','education'])[subject].mean())

gender  education
female  associate's degree    65.250000
        bachelor's degree     68.349206
        high school           59.351064
        master's degree       66.500000
        some college          65.406780
        some high school      59.296703
male    associate's degree    70.764151
        bachelor's degree     70.581818
        high school           64.705882
        master's degree       74.826087
        some college          69.009259
        some high school      67.840909
Name: math score, dtype: float64
gender  education
female  associate's degree    74.120690
        bachelor's degree     77.285714
        high school           68.202128
        master's degree       76.805556
        some college          73.550847
        some high school      69.109890
male    associate's degree    67.433962
        bachelor's degree     68.090909
        high school           61.480392
        master's degree       73.130435
        some college          64.990741
        some high school      64.693182
Name: reading score, dtype: float64
gender  education
female  associate's degree    74.000000
        bachelor's degree     78.380952
        high school           66.691489
        master's degree       77.638889
        some college          74.050847
        some high school      68.285714
male    associate's degree    65.405660
        bachelor's degree     67.654545
        high school           58.539216
        master's degree       72.608696
        some college          63.148148
        some high school      61.375000
Name: writing score, dtype: float64

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
def func(x, subject):
  if (x[subject] < passmark):
    return "F"
  return "P"

for subject in subjects:
  df[subject + "Status"] = df.apply(lambda x: func(x,subject),axis = 1)
print(f"Студентов сдавших матешу: {len(df[df['math scoreStatus'] == 'P'])}")

Студентов сдавших матешу: 865

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
def func(x):
  for subject in subjects:    
    if (x[subject] < passmark):
      return "F"
  return "P"

df['OverAll_PassStatus'] = df.apply(func,axis = 1)
print(f"Студентов сдавших все: {len(df[df['OverAll_PassStatus'] == 'P'])}")

Студентов сдавших все: 812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [ ]:
boundres_grades = [[0,50,'F'],[50,60,'E'],[60,70,'D'],[70,80,'C'],[80,90,'B'],[90,101,'A']]

def GetGrade(average_mark):
  for grade in boundres_grades:
    if (average_mark >= grade[0] and average_mark < grade[1]):
      return grade[2]

df['Grades'] = df.apply(lambda x: GetGrade(np.mean([x['math score'], x['reading score'], x['writing score']])), axis = 1)

df